body{
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
}
.grid-block {
    border: 1px solid black;
    background: white;
    width: 30px;
    height: 30px;
}